div.gtr-hor.gtr-ver
  .clearfix
    table.table.table-striped
      thead
        tr
          td ID
          td Name
          td Interacted At (tick)
          td Last Active (tick)
          td Health
          td(style='width: 300px;') Info
      tbody
        each client in data
          tr
            td=client.id
            td=client.name
            td=client.interactedAt ? client.interactedAt : ''
            td=client.lastActive ? client.lastActive : ''
            td
              if client.health >= 400
                .color-green=client.health
              else if client.health >= 300
                .color-orange=client.health
              else
                .color-red=client.health
            td
              each i in _.range(client.bugs)
                a.smile.gtr-r-xs.color-red(href data-client-id=client.id data-type='bug' onclick="window.action(event)")
                  span.icon-bug
              each i in _.range(client.questions)
                a.smile.gtr-r-xs.color-orange(href data-client-id=client.id data-type='question' onclick="window.action(event)")
                  span.icon-question
              each i in _.range(client.requests)
                a.smile.gtr-r-xs.color-green(href data-client-id=client.id data-type='request' onclick="window.action(event)")
                  span.icon-request
