div.gtr-hor.gtr-ver
  .clearfix
    table.table.table-striped
      thead
        tr
          td ID
          td Name
          td Interacted At (tick)
          td Last Active (tick)
          td Health
          td.text-right(style='width: 300px;') Actions
      tbody
        each client in data
          tr
            td=client.id
            td=client.name
            td=client.interactedAt ? client.interactedAt : ''
            td=client.lastActive ? client.lastActive : ''
            td
              !{require("./health.jade")({client: client})}
            td.text-right.align-middle
              !{require("./info.jade")({client: client})}
              !{require("./actions.jade")({client: client})}
