div.gtr-hor.gtr-ver
  .clearfix
    table.table.table-striped
      thead
        tr
          td ID
          td Name
          td Interacted At (tick)
          td Last Active (tick)
          td Health
          td(style='width: 300px;') Info
      tbody
        each client in data
          tr
            td=client.id
            td=client.name
            td=client.interactedAt ? client.interactedAt : ''
            td=client.lastActive ? client.lastActive : ''
            td
              !{require("./health.jade")({client: client})}
            td
              !{require("./info.jade")({client: client})}
